<div>
  <div class="container center-block">
    <h1 align="center">Informe de ventas</h1>
  </div> 
</div>

<div class="container">
  <div class="row">  
    <div id="imprimeesto" class="col-md-12 panel panel-default" ng-if="terminado==false">  
      <div class="panel-heading">
        <h1 class="panel-title" align="center">Informe de ventas</h1>
      </div> 

      <div class="panel-subheading" ng-if="consulta==false">
        <h3 align="center">Listado de ventas entre las fechas: </h3>
        <div align="center">
        <label>Desde (AAAAMMDD): </label><input size="8" value= "fechainicio" ng-model="fechainicio" ></input>
        <label>hasta (AAAAMMDD): </label><input size="8" value= "fechafin" ng-model="fechafin" ></input>
        </div>
        <br>
        <div align="center"><button ng-click="BuscarListadoVentas(fechainicio, fechafin)"> Listar </button></div>
        <div class="container" ng-if="error" align="center">
          {{respuesta}}
          <button > Continuar </button>
        </div>
      </div> 
      <div ng-if="consulta==true">
      <table class="table table-striped table-bordered">
        <thead> 
          <tr>
            <th align=center> Id 
            <th align=center> Fecha
            <th align=center> Hora
            <th align=center> Base 21
            <th align=center> IVA 21
            <th align=center> Base 10
            <th align=center> IVA 10
            <th align=center> Base 4
            <th align=center> IVA 4
            <th align=center> Total
          </tr> 
        </thead>
        <tbody>
	        <tr ng-repeat="x in listaVentas"> 
            <td align=center >{{ x.id }}
            <td align=center >{{ x.fechaventa }}
            <td align=center >{{ x.horaventa }}  
            <td align=center >{{ x.base21 }}
            <td align=center >{{ x.base21 * 0.21 | number:2 }} 
            <td align=center >{{ x.base10}}
            <td align=center >{{ x.base10 * 0.1 | number:2 }} 
            <td align=center >{{ x.base4 }}
            <td align=center >{{ x.base4  * 0.04  | number:2 }} 
            <td align=center >{{(x.base21) + (x.base21 * 0.21) + (x.base10) + (x.base10 * 0.10) + (x.base4) + (x.base4 * 0.04) | number:2 }}
          </tr>
          <tr>
            <td align=center >-----------
            <td align=center >-----------
            <td align=center >-----------
            <td align=center >-----------
            <td align=center >-----------
            <td align=center >-----------
            <td align=center >-----------
            <td align=center >-----------
            <td align=center >-----------
            <td align=center ></td>
          </tr>
          <tr>
            <td align=center ><strong>Total bases</strong>
            <td align=center ></td>
            <td align=center ></td>  
            <td align=center ><strong>{{ base21 | number:2 }}</strong>
            <td align=center ></td>  
            <td align=center ><strong>{{ base10 | number:2 }}</strong>
            <td align=center ></td>  
            <td align=center ><strong>{{ base4 | number:2 }}</strong>
            <td align=center ></td>  
            <td align=center ><strong>{{totalbase | number:2}}</strong>
          </tr>
          <tr>
            <td align=center ><strong>Total IVA</strong>
            <td align=center ></td>
            <td align=center ></td>  
            <td align=center ></td>  
            <td align=center ><strong>{{ iva21 | number:2 }}</strong>
            <td align=center ></td>  
            <td align=center ><strong>{{ iva10 | number:2 }} </strong>
            <td align=center ></td>  
            <td align=center ><strong>{{ iva4 | number:2 }} </strong>
            <td align=center ><strong>{{totaliva | number:2}}</strong>
          </tr>
          <tr>
            <td align=center ><strong>Total bruto:</strong>
            <td align=center ></td>
            <td align=center ></td> 
            <td align=center ></td> 
            <td align=center ></td>
            <td align=center ></td>
            <td align=center ></td>
            <td align=center ></td>
            <td align=center ></td>
            <td align=center ><strong>{{ totalbase + totaliva | number:2 }}</strong>
          </tr>
        </tbody>
      </table> 
    </div>   
  </div>    
 
  <div class="row"> 
    <div class="col-md-12 panel panel-default" ng-if="consulta==true" align="center">
      <button ng-click="printDiv('imprimeesto')"> Imprimir </button>
      <button > Volver a Ventas </button>
    </div>  
  </div>   

</div>
