<div>
  <div class="container center-block">
    <h1 align="center">Gestión de socios</h1>
  </div> 
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 panel panel-default" ng-if="editando==true">  
      <form>
        <!--<label align=center>Id: </label><input size="2" type="text" ng-name="id" ng-model="id"><br>-->
        <label align=center>Nombre: </label><input size="9" type="text" ng-name="nombre" ng-model="nombre"><br> 
        <label align=center>DNI:</label><input size="9" type="text" ng-name="dni" ng-model="dni"><br>
        <label align=center>Direccion: </label><input size="9" type="text" ng-name="direccion" ng-model="direccion"><br>
        <label align=center>Poblacion: </label><input size="9" type="text" ng-name="poblacion" ng-model="poblacion"><br>
        <label align=center>Provincia: </label><input size="9" type="text" ng-name="provincia" ng-model="provincia"></input><br>
        <label align=center>CP:</label><input size="5" type="text" ng-name="cp" ng-model="cp"><br>
        <label align=center>Saldo:</label><input size="5" type="text" ng-name="saldo" ng-model="saldo"><br>
        <label align=center>Telefono Fijo: </label><input size="8" type="text" ng-name="fijo" ng-model="fijo"><br>
        <label align=center>Telefono Movil: </label><input size="8" type="text" ng-name="movil" ng-model="movil"><br>
        <label align=center>Email: </label><input size="8" type="text" ng-name="email" ng-model="email"><br>
        <label align=center>Activo: </label><input type="checkbox" ng-model="activo"><br>
        <button class="btn btn-sm btn-primary" ng-click="Almacenar(id, nombre, dni, direccion, poblacion, provincia, cp, fijo, movil, email, activo, saldo, baja)">Almacenar</button>
        <button class="btn btn-sm btn-primary" ng-click="editando=false">Cancelar</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 panel panel-default">  
      <div class="panel-heading">
        <h2 class="panel-title">Listado</h2>
        <span class="glyphicon glyphicon-search"></span>
        <input size="8" ng-model="sociopr" align="left"></input>
        <span><button class="btn btn-sm btn-primary" ng-click="Insertar()">Añadir</button></span>     
      </div>      
      <table class="table table-striped table-bordered">
        <thead> 
          <tr>
            <th align=center > Id </th>
            <th align=center > Nombre </th>
            <th align=center > DNI </th>
            <th align=center > Dirección </th>
            <th align=center > Población </th>
            <th align=center > Provincia </th>
            <th align=center > CP </th>
            <th align=center > Saldo </th>
            <th align=center > Fijo </th>
            <th align=center > Movil </th>
            <th align=center > Email </th>
            <th align=center > Activo </th>
            <th align=center > Fecha inactivo </th>
            <th>
          </tr> 
        </thead>
        <tbody>
          <tr ng-repeat="socio in listaSocios | filter:sociopr" >
            <td align=center>{{socio.id}}</td>
            <td align=center>{{socio.nombre}}</td> 
            <td align=center>{{socio.dni}}</td>
            <td align=center>{{socio.direccion}}</td>
            <td align=center>{{socio.poblacion}}</td>
            <td align=center>{{socio.provincia}}</td>
            <td align=center>{{socio.cp}}</td>
            <td align=center>{{socio.saldo}}</td>
            <td align=center>{{socio.fijo}}</td>
            <td align=center>{{socio.movil}}</td>
            <td align=center>{{socio.email}}</td>
            <td align=center>{{socio.activo}}</td>
            <td align=center>{{socio.fecha-inactivo}}</td>
            <td> 
              <button class="btn btn-sm btn-primary" ng-click="Modificar(socio.id)">Modificar</button>
              <!--<button class="btn btn-sm btn-danger" ng-click="Anular(socio.id)">Dar de baja</button> -->
            </td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div> 

</div>
