<div>
  <div class="container">
    <h1 align="center">Devolución</h1>
    <h2 align="center">(Solo para ventas realizadas en la misma jornada)</h2>
  </div> 
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 panel panel-default">
      <h2>Venta a buscar</h2>
      <input type="text" size="2" ng-model="idventa"/>
      <button ng-click="BuscarVenta(idventa)"> Buscar </button>
      <br>
      <strong> Cliente: </strong> {{ ventaOriginal.socio }}
      <strong> DNI: </strong> {{ ventaOriginal.dni }}<br>
      <strong> Vendedor: </strong> {{ ventaOriginal.usuario }}<br>
      <strong> Fecha de venta: </strong> {{ ventaOriginal.fechaventa }}
      <strong> Hora de venta: </strong> {{ ventaOriginal.horaventa }}   
    </div> 
  </div>
  
  <div class="row">
    <div class="col-md-6 panel panel-default">
      <h2>Total original</h2>
      <br> 
      <strong>Base 21: </strong> {{ base21original | number:2 }}
      <strong>Base 10: </strong> {{ base10original | number:2 }}
      <strong>Base 4: </strong> {{ base4original | number:2 }}
      <br>
      <strong>IVA 21: </strong> {{ iva21original | number:2 }}
      <strong>IVA 10: </strong> {{ iva10original | number:2 }}
      <strong>IVA 4: </strong> {{ iva4original | number:2 }}
      <br><strong>Total: </strong> {{ totaloriginal | number:2 }}
    </div>

    <div class="col-md-6 panel panel-default">
      <h2>Total modificado</h2>
      <br> 
      <strong>Base 21: </strong>{{ base21modificado | number:2 }}
      <strong>Base 10: </strong>{{ base10modificado | number:2 }}
      <strong>Base 4: </strong>{{ base4modificado | number:2 }}      
      <br>
      <strong>IVA 21: </strong>{{ iva21modificado | number:2 }}
      <strong>IVA 10: </strong>{{ iva10modificado | number:2 }}
      <strong>IVA 4: </strong>{{ iva4modificado | number:2 }}
      <br><strong>Total: </strong>{{ totalmodificado | number:2 }}
      <strong>DIFERENCIA: </strong>{{ ( totalmodificado - totaloriginal | number:2  ) }}
      <strong ng-if="(totalmodificado - totaloriginal) > 0"> a pagar</strong>
      <strong ng-if="(totalmodificado - totaloriginal) < 0"> a devolver</strong>
      
      <button type="button" class="btn btn-success btn-sm" ng-click="Finalizar()" ng-hide="terminado==true"> Finalizar </button>  
    </div>
  </div> 

  <div class="row">
    <div class="col-md-6 panel panel-default" ng-if="terminado==false">  
      <h2>Venta original</h2>
      <table class="table table-striped table-bordered">
        <thead> 
          <tr>
            <th align=left > Producto 
            <th align=center > Precio 
            <th align=center > % IVA
            <th align=center > IVA
            <th align=center > Cantidad
            <th align=center > Total
          </tr> 
        </thead>
        <tbody>
          <tr ng-repeat="linea in lineasOriginal">
            <td align=center >{{ linea.nombre }}  
            <td align=center >{{ linea.precio }}  
            <td align=center >{{ linea.iva }}
            <td align=center >{{ linea.precio * linea.iva /100 | number:2 }}
            <td align=center >{{ linea.cantidad }}  
            <td align=center >{{ linea.precio * (1 + (linea.iva/100)) * linea.cantidad | number:2 }} 
          </tr>
        </tbody>
      </table>  

      <!--<div ng-if="codigorecibido!=0"> 
        {{respuesta}}
      </div>-->
    </div>

    <div class="col-md-6 panel panel-default" ng-if="terminado==true"> 
      <h2 align=center>{{respuesta}}</h2>
      <h3 align=center><a href="#/venta">Pulse aquí para continuar</a></h3>
    </div>

  <div class="col-md-6 panel panel-default">
    <h2>Venta modificada</h2>
      <table class="table table-striped table-bordered">
        <thead> 
        <tr>
          <th align=center> Id 
          <th align=center> Producto
          <th align=center> Precio 
          <th align=center> % IVA
          <th align=center> IVA 
          <th align=center> Cantidad
          <th align=center> Total
        </tr> 
        </thead>
        <tbody>
        <tr ng-repeat="x in lineasModificada" ng-if="x.borrar==false"> 
          <td align=center ng-if="terminado==false">
            <input size="2" ng-change="CambiarProducto($index)" ng-model= "x.idproducto" / ng-if="terminado==false">          
          <td align=center ng-if="terminado==true"> {{ x.idproducto}}
          <td align=left >{{ x.nombre }}
          <td align=right >{{ x.precio }}
          <td align=center >{{ x.iva }}  
	  <td align=right >{{ (x.precio * x.iva /100)  | number:2}} 	  
          <td align=center ng-if="terminado==false">
            <input size="2" ng-change="TotalesModificado()" ng-model= "x.cantidad" />
          <td align=center ng-if="terminado==true"> {{ x.cantidad}}
          <td align=right >{{ (x.precio * 1 + (x.precio * x.iva /100)) * x.cantidad | number:2}}
          <td align=right >
             <button class="btn btn-danger btn-xs" ng-click="Borrar($index)" ng-hide="terminado==true"><span class="glyphicon glyphicon-remove"></span></button>
        </tr>
        </tbody>
      </table> 
    </div>
  </div>


</div>
